<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/angular.min.js"></script>
    <script>
        /*引导了我们定义的模块*/
       var app = angular.module("app",[]);
       /*通过模块去创建一个控制器
       * 注入$scope,$scope是一个对象,封装变量和方法,body标签里面可以提供表达式或者
       * 指令来使用这些变量和方法*/
       app.controller("myctr",function ($scope) {
           // 定义方法
           $scope.add=function () {
               return $scope.x-0+($scope.y-0);
           }
       })
    </script>
</head>
<body ng-app="app" ng-controller="myctr">
X:<input type="text" ng-model="x"><br>
Y:<input type="text" ng-model="y"><br>
<!--通过表达式调用方法-->
{{add()}}
</body>
</html>